body {
    background-color: rgb(192, 255, 211);
}

h1{
    text-align: center;
    color: rgb(255, 0, 106);
    font-weight: bolder;
    text-decoration: underline;
    font-size: 300%;
}

h2{
    text-align: center;
    color: rgb(183, 0, 255);
}

P{
    font-style: oblique;
}

#l1{
    color: rgb(255, 0, 212);
    font-style: oblique;
}

.l2{
    color: rgb(139, 0, 109);
    font-style: oblique;
    text-decoration: underline;
}