body {
    background-color: rgb(255, 192, 236);
}

h1{
    text-align: center;
    color: rgb(225, 0, 255);
    font-weight: bolder;
    text-decoration: underline;
    font-size: 300%;
}

h2{
    text-align: center;
    color: rgb(0, 204, 255);
}

P{
    font-style: oblique;
}

#l1{
    color: red;
    font-style: oblique;
}

.l2{
    color: darkred;
    font-style: oblique;
    text-decoration: underline;
}