body{
    background-color: rgb(245, 245, 220);
}
h1{
    color: rgb(16, 202, 56);
}
#y1{
    line-height: 5vw;
    text-align: center;
}
#y2{
    line-height: 5vw;
    text-align: center;
}
#y3{
    line-height: 5vw;
    text-align: center;
}
#y4{
    line-height: 3vw;
    text-align: center;
}
#y5{
    line-height: 3vw;
    text-align: center;
}
#y6{
    line-height: 5vw;
    text-align: center;
}
#y7{
    line-height: 3vw;
    text-align: center;
}
#y8{
    line-height: 3vw;
    text-align: center;
}